<div class="container-fluid">
  <div id="wrapper">

  <div class="row featurette">

    <div class="col-md-7">

      <h2 class="featurette-heading">Best Winter Trips</h2>

      <p class="lead text-primary"><strong>One-stop Shopping for your Winter holiday needs!</strong></p>

      <br>

      <p class="lead">Check out our most in-demand package deals: </p>

      <div class="pics d-flex flex-row justify-content-between">
        <div class="col-md-5">

          <img class="featurette-image img-responsive center-block jasna"
            src="https://pixabay.com/get/52e9dd474d51b108feda8460da2932771737dce3515171_1920.jpg" width="350"
            height="250">
          <p class="pic2">Montafon, Vorarlberg</p>

        </div>

        <div class="col-md-5 jasna">

          <img class="featurette-image img-responsive center-block"
            src="https://pixabay.com/get/52e8d6464a50a814f6d1867dda35367b1c3dd6e755567048_1920.jpg" width="350"
            height="250">
          <p class="pic2">Jasna, Slovenia</p>

        </div>

      </div>

      <div class="pics2 d-flex flex-row justify-content-between my-5">
        <div class="col-md-5 jasna">

          <img class="featurette-image img-responsive center-block"
            src="https://pixabay.com/get/55e1d3464f57a514f6d1867dda35367b1c3dd6e75556764e_1920.jpg" width="350"
            height="250">
          <p class="pic2 pad">Vail, Colorado</p>

        </div>

        <div class="col-md-5 jasna">

          <img class="featurette-image img-responsive center-block"
            src="https://pixabay.com/get/55e1d3434252a814f6d1867dda35367b1c3dd6e75559734d_1920.jpg" width="350"
            height="250">
          <p class="pic2 pad">Niseko, Hokkaido</p>

        </div>

      </div>

    </div>
  </div>
  </div>





</div>