<div class="m-0 p-0 largeurcontaineur text-center">

    <!-- Three columns of text below the carousel -->

    <div class="row p-3 center-block">

      <div  class="col-lg-3" >
        <img  class ="rounded-circle"  src="assets/img/sleeping.png" width="140" height= "140">
        <h2>Accomodation</h2>
       <p>We offer the finest selection of top hotel everywhere</ p>
      </div>

         <div class="col-lg-3" >
        <img class="rounded-circle-circle"  src ="assets/img/airplane.png"  alt = "Generic placeholder image" width="140"  height= "140">
        <h2>Transportation</h2>
       <p>Whenever it is about your ticket or schuttle bus, we will set it up</p >
      </div>

           <div class="col-lg-3"  >
        <img class= "rounded-circle"  src="assets/img/agent.jpg" alt="Generic placeholder image"  width= "140" height ="140">
        <h2>Seasonned Agent</h2>
        <p>Combined the experience of our agent have it centuries</p >
      </div>
    
    <div class="col-lg-3"  >
        <img class= "rounded-circle"  src="assets/img/building.png" alt="Generic placeholder image"  width= "140" height ="140">

        <h2>Easy Trip Planning</h2>
        <p>Our travel agents are ready to plan your perfect trip</p >
   

      </div>
      <!-- /.col-lg-4 -->

    </div>

    <!-- /.row -->

    </div>
